    button:hover {
        cursor: pointer;
    }
    
    .games {
        display: flex;
        width: 100vw;
        max-width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin: 0;
        width: 83vw;
        height: 100%;
        grid-gap: 6vw 0px;
        align-items: center;
        justify-items: center;
    }
    
    .banner {
        background-image: url('./icons/banner.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .banner p {
        font: 4vw 'FortySecondStreetHB';
        color: whitesmoke;
        text-align: center;
        padding-top: 73vh;
        display: block;
        margin: 0;
    }
    
    .games .flex-item {
        border: solid 1px whitesmoke;
        padding: 1px;
        margin: 0;
        width: 18.5vw;
        height: max-content;
    }
    
    .image_games {
        height: 10.5vw;
        width: 18.5vw;
        padding: 0;
        margin: 0;
    }
    
    .games_title {
        font-size: 1.6vw;
        line-height: 4vh;
        width: 100%;
        padding: 1vw 0px 3vw 0px;
    }
    
    .games_hover {
        opacity: 1;
        background-color: var(--cyan);
        width: auto;
        height: 10.5vw;
        padding: 0;
        margin: 0;
        z-index: 47;
        position: relative;
    }
    
    .flex-item:hover .image_games,
    .flex-item:focus .image_games {
        opacity: 0.5;
        animation: fadeIn 300ms;
    }
    
    .flex-item:hover .games_title,
    .flex-item:focus .games_title {
        background-color: var(--darkblue);
        color: whitesmoke;
        animation: all 300ms;
        cursor: pointer;
    }
    
    .games_hover button {
        position: absolute;
        top: 4vw;
        text-decoration: none;
        background-color: transparent;
        font: 1.7vw 'Gidugu', sans-serif;
        color: var(--cyan);
        border: 1px solid var(--darkblue);
        width: max-content;
        height: max-content;
        padding: 2px;
        z-index: 48;
        visibility: hidden;
    }
    
    .games_hover button span {
        background-color: var(--bg-color);
        padding: 0vw 0.5vw;
    }
    
    .flex-item:hover button {
        visibility: visible;
        animation: textload 500ms;
    }
    
    #description {
        left: 1.6vw;
    }
    
    #add_cart {
        left: 10vw;
    }
    
    #form-description img {
        border: 1px solid whitesmoke;
        margin-top: 4vw;
        padding: 1vw;
    }
    
    #form-description img,
    .productDesc,
    .productName {
        width: 30vw;
        margin-right: 2vw;
        margin-left: 2vw;
        animation: textload 400ms;
    }
    
    .productName {
        font: 2.5vw 'Gidugu', sans-serif;
        line-height: 2.3vw;
        padding: 0.3vw;
        white-space: pre-wrap;
    }
    
    .productDesc {
        font: 1.5vw 'Gidugu', sans-serif;
        line-height: 1.7vw;
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 1;
        }
        20% {
            opacity: 0.9;
        }
        40% {
            opacity: 0.8;
        }
        60% {
            opacity: 0.7;
        }
        80% {
            opacity: 0.6;
        }
        100% {
            opacity: 0.5;
        }
    }