@keyframes neon {
    from {
        text-shadow: 0 0 2px rgba(202, 228, 225, 0.92), 0 0 3px rgba(202, 228, 225, 0.34), 0 0 3px rgba(30, 132, 242, 0.52), 0 0 5px rgba(30, 132, 242, 0.92), 0 0 23px rgba(30, 132, 242, 0.78), 0 0 23px rgba(30, 132, 242, 0.92);
    }
    to {
        text-shadow: 0 0 2px rgba(202, 228, 225, 0.98), 0 0 3px rgba(202, 228, 225, 0.42), 0 0 3px rgba(30, 132, 242, 0.58), 0 0 5px rgba(30, 132, 242, 0.84), 0 0 23px rgba(30, 132, 242, 0.88), 0 0 23px rgba(30, 132, 242, 1);
    }
    from {
        box-shadow: 0 0 3px rgba(202, 228, 225, 0.92), inset 0 0 3px rgba(202, 228, 225, 0.92), 0 0 5px rgba(202, 228, 225, 0.34), inset 0 0 5px rgba(202, 228, 225, 0.34), 0 0 6px rgba(30, 132, 242, 0.52), inset 0 0 6px rgba(30, 132, 242, 0.52), 0 0 10px rgba(30, 132, 242, 0.92), inset 0 0 10px rgba(30, 132, 242, 0.92), 0 0 10px rgba(30, 132, 242, 0.78), inset 0 0 10px rgba(30, 132, 242, 0.78), 0 0 15px rgba(30, 132, 242, 0.92), inset 0 0 14px rgba(30, 132, 242, 0.92);
    }
    to {
        box-shadow: 0 0 3px rgba(202, 228, 225, 0.92), inset 0 0 3px rgba(202, 228, 225, 0.92), 0 0 5px rgba(202, 228, 225, 0.34), inset 0 0 5px rgba(202, 228, 225, 0.34), 0 0 5px rgba(30, 132, 242, 0.52), inset 0 0 6px rgba(30, 132, 242, 0.52), 0 0 10px rgba(30, 132, 242, 0.92), inset 0 0 10px rgba(30, 132, 242, 0.92), 0 0 11px rgba(30, 132, 242, 0.78), inset 0 0 10px rgba(30, 132, 242, 0.78), 0 0 16px rgba(30, 132, 242, 0.92), inset 0 0 15px rgba(30, 132, 242, 0.92);
    }
}