  .slider {
      width: 100vw;
      height: 90.5vh;
      position: relative;
      display: block;
      max-width: 100%;
  }
  
  .slider-wrapper {
      width: 100%;
      height: 100vh;
      position: absolute;
      display: block;
      margin: 0;
  }
  
  .slide {
      float: left;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 3s linear;
  }
  
  .slider-wrapper>.slide:first-child {
      opacity: 1;
  }