@import "fontstyle.css";
@import "keyframes.css";
@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
@import "login.css";
:root {
    font-size: 0.3vh;
    --neon-text-color: #08f;
    --neon-border-color: #08f;
    --white: rgb(255, 255, 255);
}

body {
    margin: 0;
    width: 100%;
    background: rgb(52, 50, 61);
    font-size: 10px;
    font-family: 'Distant Galaxy', sans-serif;
    position: relative;
    max-width: 100%;
}

.nav {
    overflow: hidden;
    background-color: rgb(5, 6, 52);
    position: fixed;
    display: block;
    /* Set the navbar to fixed position */
    top: 0;
    z-index: 50;
    /* Position the navbar at the top of the page */
    width: 100vw;
    /* Full width */
    height: 9.5vh;
    transition: all 0.4s;
    /*font of all nav texs*/
    font-size: 1.6vw;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-family: 'Distant Galaxy', sans-serif;
    max-width: 100%;
}


/* Links inside the navbar */

.nav ul {
    height: 9.5vh;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    position: relative;
    width: 100%;
}

.nav li {
    margin: 0px;
    size: 9.5vh;
}

.nav li a {
    float: left;
    display: block;
    position: static;
    color: var(--white);
    text-align: center;
    padding: 0 2vw;
    margin: 0;
    text-decoration: none;
    transition: all 0.4s;
    line-height: 9.5vh;
}


/* Change background on mouse-over */

.nav li a:hover {
    background: rgba(255, 255, 255, 0.068);
    color: var(--white);
    cursor: pointer;
    border-bottom-style: solid;
    border-width: 0.6vh;
    border-color: rgb(24, 79, 205);
}

.nav button {
    position: static;
    float: left;
    background-color: rgb(5, 6, 52);
    border-width: 0;
    border-style: none;
}

.nav button.cart {
    float: right;
}

.nav .logo img {
    display: static;
    float: left;
    width: 5vh;
    height: auto;
    padding: 2.5vh 3vh;
    margin: 0;
}

.cart img {
    display: static;
    float: right;
    width: 2vw;
    height: auto;
    padding: 2.1vh 1.2vw;
    transition: all 0.2s linear;
}

.nav .login {
    display: static;
    float: right;
    width: 8vw;
    margin: 0.7% 1% 0px 1vh;
    background-color: rgb(5, 6, 52);
    color: var(--white);
    padding: 4rem 6rem 5.5rem;
    border: 0.4rem solid var(--white);
    border-radius: 12px;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2vw;
    letter-spacing: 0.2vh;
    text-align: center;
    text-transform: uppercase;
}

.login:focus,
.login:hover {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
    box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
    cursor: pointer;
}

.logo:hover {
    background: rgba(255, 255, 255, 0.068);
    color: black;
    cursor: pointer;
}

.cart img:hover {
    -webkit-filter: drop-shadow(0px 0px 1.5vh rgb(31, 61, 255));
    filter: drop-shadow(0px 0px 1.5vh rgb(31, 61, 255));
    box-shadow: #fff;
    cursor: pointer;
}

.main {
    margin-top: 9.5vh;
}

.head-news {
    display: block;
    position: absolute;
    top: 15vh;
    z-index: 49;
    left: 23.3vh;
    font-family: 'FortySecondStreetHB';
    color: rgb(253, 249, 255);
}

.news {
    width: 100vw;
    height: 90.5vh;
    position: relative;
    display: block;
    padding: 0;
    background-image: url("bg/bg2.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    margin: 0;
    max-width: 100%;
}

.news .grid-container {
    position: absolute;
    top: 28vh;
    left: 11.1vw;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0;
    height: 50vh;
    width: 85vw;
    gap: 0px 2px;
    margin: 0;
}

.grid-item {
    padding: 0;
    margin-right: 2vw;
    position: flex;
    flex-direction: column;
    width: 25vw;
}

.img_news {
    width: 23.1vw;
    height: auto;
}

.grid-item p {
    font-family: 'Gidugu';
    color: rgb(163, 165, 161);
    text-decoration: none;
    display: block;
    margin: 0;
    width: 100%;
}

.extra-txt {
    font-family: 'Gidugu';
    color: rgb(163, 165, 161);
    text-decoration: none;
    display: block;
    position: absolute;
    margin: auto;
    letter-spacing: 2px;
    top: 22vh;
    z-index: 49;
    left: 85%;
}
